html,body{
    font-family:'微软雅黑';
    font-size:14px;
    margin:0px;
    min-width:1111px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
fieldset, img { border: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
input, button, textarea, select { *font-size: 100%; }
ol, ul { list-style: none; }
:link, :visited, ins { text-decoration: none; }
img a { border: none; margin: 0px; padding: 0px; }
a { text-decoration: none; color: #8c6a55; cursor: pointer; }
a:hover { color: #491903; text-decoration: none; }
button{border-style:none }

.clearfix { *zoom: 1; }
.clearfix:after{
    content:".";
    display:block;
    height:0;
    visibility:hidden;
    clear:both;
}
/*=======================================*/
#main-header{
    background-color:#ffffff;
    height:56px;
}
#main-header .header{
    display:inline-block;
}
#main-header .lf.header{
    font-size:21px;
    margin-top:0.45rem;
    margin-left:54px;
    font-family:'黑体';
}
#main-header .lf.header>a{
    vertical-align:middle;
    position:relative;
    top:3px;
}
#main-header .rt.header{
    float:right;
    margin-top:1.14rem;
}
#main-header .rt.header>ul>li{
    display:inline-block;
    font-size:14px;
}
#main-header .rt.header>ul>li>a{
    color:rgb(120, 123, 131);
    padding:1rem 1rem 1.14rem 1rem;
}
#main-header .rt.header>ul>li>a:hover{
    color:rgb(231, 79, 77);
    border-bottom:5px solid rgb(231,79,77);
}
#main-header .login{
    float:right;
    margin:1.14rem 2rem 0;
    color:rgb(231, 79, 77);
}
#main-header .login img{
    vertical-align:bottom;
}
#main-footer{
    background-color:rgb(47,48,57);
}

.part1{
    background-image:url(./image/1.png);
    padding-left:115px;
    padding-top:220px;
    padding-bottom:200px;
    color:white;
    background-size:cover;
}
.part1 .title{
    font-size:4.28rem;    
    margin:0rem 0 0.5rem;
}
.part1 .sub-title{
    font-size:1.5rem;
    margin-bottom:4.5rem;
}
.part1>.begin{
    width:330px;
    height:62px;
    background-color:rgb(231, 79, 77);
    font-size:30px;
    color:white;
}
.part2{
    height:250px;
}
.part2>.div{
    width: 25%;
    float:left;
}
.part2>.div>img{
    display:block;
    margin:3rem auto;
}
.part2>.div .descr{
    padding:0 5.5rem;
    margin-bottom:4rem;
    font-size:14px;
    color:rgb(118,119,119);
    text-align:center;
    border-right:2px solid rgb(187,187,187);
    height:38px;
}
.part2>.div:last-child .descr{
    border-style:none;
}
.part3{
    background-color:rgb(237,236,236);
    padding:100px;
}
.part3>img{
    display:block;
    margin:0rem auto 2rem auto;
}
.part3 .descr{
    font-size:54px;
    color:rgba(50,51,51,0.5);
    text-align:center;
}
.part4{
    background-image:url(./image/4.png);
    padding:44px 0 120px;
    background-size:cover;
}
.part4 .title{
    text-align:center;
    color:rgb(255,255,255);
    font-size:21px;
}
.part4 hr{
    width:3rem;
    color:rgb(255,255,255);
    border:1px solid #ffffff;
}
.part4 .sub-title{
    text-align:center;
    color:rgb(255,255,255);
    font-size:12px;
    margin-bottom:45px;
    margin-top:14px;
    text-align:center;
}
.part4 .input{
    margin:0 auto;
    width:1028px;
    padding:1rem;
}
/*
.part4 .input select>option,
.part4 .input select {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
.part4 .input select::-ms-expand{
    display:none;
}
.part4 .input select.style1{
    width:234px;
    height:36px;
    border:0px;
    border-radius:0;
    padding:0 30px 0 14px;
    color:rgb(168, 170,170);
    background:url("./image/4-2.png") no-repeat scroll 205px center #fff;
}
.part4 .input select.style1:hover{
    border:1px solid rgb(190,78,72);
}
.part4 .input select.style1 option:hover{
    background-color:rgb(190,78,72);
}
.part4 .input select.style1 option{
    background-color:rgb(228,228,228);
    border:1px solid rgb(190,78,72);
    padding:0.3rem;
}
.part4 .input select.style1 option:last-child{
    padding-bottom:1rem;
}

*/
.part4 .input .select-wrap.style1>select{
    display:none;
}

.part4 .input .select-wrap.style1{
    width:234px;
    border:0px;
    border-radius:0;
    color:rgb(168, 170,170);
    display:inline-block;
    vertical-align:top;
    border:1px solid transparent;
}
.part4 .input .select-wrap.style1:hover{
    border:1px solid rgb(190,78,72);
}
.part4 .input .select-wrap.style1 .select-content{
    padding:0 30px 0 14px;
    height:36px;
    line-height:36px;
    background:url("./image/4-2.png") no-repeat scroll 205px center #fff;
}
.part4 .input .select-wrap.style1 .select-dropdown{
    display:none;
}
.part4 .input .select-wrap.style1 .select-content:hover + .select-dropdown,
.part4 .input .select-wrap.style1 .select-dropdown:hover{
    display:block;
}
.part4 .input .select-wrap.style1 .select-option:hover{
    background:url("./image/4-1.png") no-repeat scroll 8px center rgb(190,78,72);
}
.part4 .input .select-wrap.style1 .select-option{
    background-color:rgb(228,228,228);
    padding:4px 4px 4px 30px;
}
.part4 .input .select-wrap.style1 .select-option:last-child{
    padding-bottom:1rem;
}


.part4 .input button.style1{
    width:234px;
    height:38px;
    background-color:rgb(190,78,72);
    color:rgb(255,255,255);
}
.part5{
    padding:100px;
    background-color:rgb(248,248,248);
}
.part5 .div{
    position:relative;
    width:25%;
    float:left;
    height:420px;
}
.part5 .div img{
    padding:14px 7px;
    border:1px solid rgb(228,228,228);
    margin:0 auto;
    display:block;
    background-color:#fff;
}
.part5 .div img:hover{
    position:absolute;
    bottom:0;
    margin:0 auto;
    display:block;
    left:50%;
    margin-left:-109.5px;
    background-color:#fff;
}
.part5 .div img:hover + .descr{
    font-size:20px;
    letter-spacing:10px;
}
.part5 .div .descr{
    font-size:15px;
    text-align:center;
    margin:0.8rem 0;
}
.part5 .div .sub-descr{
    font-size:12px;
    text-align:center;
    margin:0.2rem 0;
    color:rgb(168, 170,170);
}
.part6{
}
.part6 .left-img{
    background-image:url(./image/6.png);
    background-size:cover;
    width:66.6666%;
    float:left;
    color:#ffffff;
    padding-top:125px;
    padding-bottom:150px;
}
.part6 .left-img .title1{
    font-size:50px;
    text-align:center;
    margin-bottom:-10px;
}
.part6 .left-img .title2{
    font-size:158px;
    line-height:155px;
    text-align:center;
}
.part6 .left-img .title3{
    font-size:22px;
    text-align:center;
    line-height:35px;
}
.part6 .right:before{
    content:" ";
    display:block;
    float:left;
    width:0;
    height:0;
    border-top: 11px solid transparent;
    border-right: 22px solid #fff;
    border-bottom: 11px solid transparent;
    position:relative;
    left:-22px;
    top:100px;
}
.part6 .right{
    width:33.3334%;
    padding:157px 0 0px;
    float:right;
}
.part6 .left-img .title4{
    font-size:22px;
    text-align:center;
}
.part6 .right .title{
    font-size:20px;
    text-align:center;
}
.part6 .right .title .em{
    font-size:20px;
    color:rgb(190,78, 28);
}
.part6 .right .content{
    font-size:12px;
    line-height:30px;
    padding:0px 70px;
    margin:28px 0 50px;
    font-family:'宋体';
    color:rgb(170,170,170);
}
.part6 .right>button{
    display:block;
    background-color:#ffffff;
    color:rgb(190,78, 28);
    border:1px solid rgb(190,78, 28);
    text-align:center;
    padding:8px 28px;
    font-size:12px;
    margin:0 auto;
}
.part6 .right .dot-wrap{
    margin:23px auto;
    width:96px;
}
.part6 .right .dot-wrap .dot{
    display:inline-block;
    width:10px;
    height:10px;
    border:1px solid rgb(170,170,170);
    border-radius:10px;
    margin:0 10px;
}
.part6 .right .dot-wrap .dot.active{
    background-color:rgb(170,170,170);
}
.part7 .div.white:after{
    content:" ";
    display:block;
    float:right;
    width:0;
    height:0;
    border-top: 11px solid transparent;
    border-left: 22px solid #fff;
    border-bottom: 11px solid transparent;
    position:relative;
    left:22px;
    top:-60px;
}
.part7 .div{
    padding:163px 0 200px;
    width:33.3333%;
    float:left;
    font-size:21px;
    font-family:'黑体';
}
.part7 .div .descr{
    text-align:center;
}
.part7 .div>button{
    margin:0 auto;
    padding:5px 20px;
    display:block;
}
.part7 .div>hr{
    width:20px;
}
.part7 .div.red{
    background-color:rgb(231,79,77);
    color:white;
}
.part7 .div.red>button{
    border:1px solid #ffffff;
    color:#ffffff;
    background-color:rgb(231,79,77);
}
.part7 .div.red>hr{
    border:1px solid #ffffff;
}
.part7 .div.white{
    background-color:#ffffff;
}
.part7 .div.white:after{
}
.part7 .div.white>button{
    border:1px solid rgb(239,79,77);
    color:rgb(190,78,28);
    background-color:#ffffff;
}
.part7 .div.white>hr{
    border:1px solid rgb(146,146,146);
}
.part7 .div.image{
    background-image:url(./image/7.png);
    background-size:cover;
    padding:0;
    height:470px;
}
.part8{
    padding:113px 0 72px;
}
.part8>hr{
    border:1px solid rgb(231,79,77);
    width:20px;
}
.part8 .descr{
    font-size:21px;
    color:rgb(50,50,50);
    text-align:center;
}
.part8 .sub-descr{
    font-size:12px;
    color:rgb(170,170,170);
    text-align:center;
}
.part9{
    padding:50px 0px 80px;
    width:80%;
    margin:0 auto;
}
.part9 .div-left{
    float:left;
    width:30%;
    padding-top:5px;
}
.part9 .div-left .div .title{
    font-family:'黑体';
    font-size:14px;
    margin-bottom:20px;
    color:#231815;
}
.part9 .div-left .div .content{
    font-family:'宋体';
    font-size:12px;
    color:#231815;
    margin-bottom:10px;
}
.part9 .div-left .div .foot{
    font-family:'宋体';
    font-size:12px;
    text-align:right;
    margin-bottom:30px;
}
.part9 .div-left .div .foot:before{
    content:"";
    display:inline-block;
    background-image:url(./image/9-1.png);
    width:10px;
    height:6px;
}
.part9 .div-right{
    float:right;
    width:60%;
    margin-left:70px;
}
.part9 .div-right input{
    width:100%;
    background-color:rgb(236,236,236);
    border:none;
    border-radius:2px;
    height:40px;
    padding-left:20px;
    font-size:12px;
    color:#231815;
    font-family:'宋体';
    box-sizing:border-box;
}
.part9 .div-right button{
    width:100%;
    background-color:rgb(236,236,236);
    text-align:center;
    height:40px;
    padding:5px;
    font-size:12px;
    color:#231815;
    font-family:'黑体';
    box-sizing:border-box;
}
.part9 .div-right textarea{
    width:100%;
    background-color:rgb(236,236,236);
    padding:10px 20px;
    color:#231815;
    font-family:'宋体';
    height:120px;
    border:none;
    box-sizing:border-box;
    font-size:12px;
}
.part9 .div-right .one.wide{
    float:left; 
    width:50%;
    padding:7px;
    box-sizing:border-box;
}
.part9 .div-right .two.wide{
    float:left; 
    width:100%; 
    padding:7px;
    box-sizing:border-box;
}
.part9 .div-right .wide>button,
.part9 .div-right .wide>input,
.part9 .div-right .wide>textarea,{
    box-sizing:border-box;
}
.part10{
    background-color:rgb(50,53,62);
    padding:80px 0 70px;
}
.part10 .descr,
.part10 .sub-descr,
.part10 .contact,
.part10 .input{
    width:700px;
    margin:0 auto;
    color:white;
    text-align:center;
}
.part10 .descr{
    font-family:'黑体';
    font-size:21px;
    margin-bottom:10px;
}
.part10 .sub-descr{
    font-family:'宋体';
    font-size:12px;
    margin-bottom:25px;
    line-height:18px;
}
.part10 .input>input{
    display:inline-block;
    padding:0px 5px;
    width:430px;
    height:40px;
    box-sizing:border-box;
    vertical-align:middle;
}
.part10 .input>button{
    display:inline-block;
    height:40px;
    width:80px;
    background-color:rgb(111,113,120);
    color:#ffffff;
    font-size:15px;
    font-family:'微软雅黑';
    vertical-align:middle;
}
.part10 .contact{
    margin-top:35px;
}
.part10 .contact>img{
    display:inline-block;
    margin:0 12px;
}
#main-footer{
    background-color:rgb(47,48,56);
    padding:25px 35px 10px 90px;
    font-size:12px;
}
#main-footer .lf{
    float:left;
    color:white;
}
#main-footer .rt,
#main-footer .rt>a{
    float:right;
    color:white;
    font-decorate:none;
}
